# Domain excluding 'https://' and 'daily.co' e.g. 'somedomain'
DAILY_DOMAIN=listnrfm

# Obtained from https://dashboard.daily.co/developers
DAILY_API_KEY=b5fbacb0fea6941c39f3deff29da1af04de7bb4ecf948d70bdc11435628b460a

# Daily REST API endpoint
DAILY_REST_DOMAIN=https://api.daily.co/v1
